@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>@Model.Exception.GetType().Name</h3>
<h3>@Model.Exception.GetType().Namespace</h3>
<h3>@Model.Exception.StackTrace</h3>
<h3>@Model.ControllerName</h3>
<h3>@Model.ActionName</h3>
<h3>@Model.Exception.Message</h3>